/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* GLOBAL STYLES */
*,
*:before,
*:after {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: 'Nunito Variable', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
  -webkit-tap-highlight-color: transparent;
}

#root {
  isolation: isolate;
}

html {
  --color-white: hsl(0deg 0% 100%);
  --color-gray-100: hsl(185deg 5% 95%);
  --color-gray-300: hsl(190deg 5% 80%);
  --color-gray-500: hsl(196deg 4% 60%);
  --color-gray-700: hsl(220deg 5% 40%);
  --color-gray-900: hsl(0deg 0% 20%);

  /* 
    Color for character types
  */
  --color-explosive: hsl(0deg 64% 37%);
  --color-mystic: hsl(202deg 65% 37%);
  --color-heavy: hsl(32deg 71% 41%);
  --color-sonic: hsl(291deg 54% 42%);

  --color-striker: hsl(356deg, 78%, 45%);
  --color-special: hsl(202deg 65% 37%);

  /* 
    Media queries
  */


  /*
    Silence the warning about missing Reach Dialog styles
  */
  /* --reach-dialog: 1; */
}

body {
  background: var(--color-background);
  color: var(--color-text);

  /* Avoid scroll-based layout shift */
  overflow-y: scroll;
}

html, body, #root {
  height: 100%;
}

svg {
  color: hsl(190deg 5% 80%);
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}